<div class="feed-detail">

  <h4>Tư Cuồng</h4>
  <h5>Nếu biết tình như thế, chẳng lớn lên làm gì, thà như ngày thơ ấu, hai đứa cầm tay đi</h5>
  <h6 style="text-align: right">Apr 14th, 10:46PM</h6>

  <hr>
  <h5 style="text-align: center">PROFILES</h5>
  {{!-- <form class="form-horizontal profile">
    <fieldset>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="phone-number">Phone Number</label>
        <div class="col-md-6">
        <input id="phone-number" name="phone-number" type="text" placeholder="" class="form-control input-md">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="skype">Skype</label>
        <div class="col-md-6">
        <input id="skype" name="skype" type="text" placeholder="" class="form-control input-md">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email</label>
        <div class="col-md-6">
        <input id="email" name="email" type="text" placeholder="" class="form-control input-md">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="dob">Date of birth</label>
        <div class="col-md-6">
        <input id="dob" name="dob" type="text" placeholder="" class="form-control input-md">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="facebook-link">Facebook Link</label>
        <div class="col-md-6">
        <input id="facebook-link" name="facebook-link" type="text"
          placeholder="" class="form-control input-md">
        </div>
      </div>

    </fieldset>
  </form> --}}
</div>

{{outlet}}
