
<div style="margin-top: 110px">
  <h4 style="text-align: center">This application has adult content, please confirm you're above 18 year olds.</h4>
  <button class='btn btn-success btn-block' {{action 'confirm'}}>CONFIRM</button>
</div>


{{outlet}}
