
<div style="margin-top: 150px">
  {{#spin-button action='loginByFacebook' inFlightBinding='model.inFlight'
    buttonStyle='zoom-in' class='btn btn-success btn-block'}}Login by facebook{{/spin-button}}
</div>

<h6 style="text-align: center">get your partner n enjoy your life</h6>

{{outlet}}
